body {
    margin: 0;
    padding: 0;
}

.nav {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}


.header {
    display: flex;
    justify-content: space-between;

}
.bgd-color {
    background-color: hsl(240, 75%, 98%);
    
}

.first_header, .second-header , .third-div{
    width: 50%;
}

.second_image, .illustration-2 , .email{
    width: 50%;
}

.third-section, .second-section , .first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.bg-curve1{
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
}

.third-bgd{
    background-color: hsl(238, 22%, 44%);
    height: 250px;
}
.last-section1{
    background-color: hsl(243, 87%, 12%) ;
    height: 300px;
}
p{
    font-size: 16px;
}

.quote {
    width: 300px;
    height: 150px;
    padding: 30px;
    border: 1px solid white;
    margin: 0;
    background-color: white;
    margin-bottom: 100px;
    
}
div > a:hover {
    
    color: hsl(238, 22%, 44%);
    
}
div > a {
    color: lightgrey    ;
    text-decoration: none;
    padding: 5px;
}
nav >a {
    color: black;
    text-decoration: none;
}


@media screen and (max-width:1440px) {
    .third-section, .second-section , .first-section, .last-section1 {
        flex-direction: column;
    }
} 

@media screen and (max-width:375pxx) {
    .third-section, .second-section , .first-section, .last-section1 {
        flex-direction: column;
    }
    /* .box2{
        margin-top: 30px;
    }
    .text{
        display: none;
    } */
}
